Descargas/
Documentos/
Imágenes/
Música/
Plantillas/
Público/
Vídeos/
.cache/
.config/autostart/
.config/bottom/
.config/caja/
.config/cinnamon/
.config/cinnamon-session/
.config/Code/
.config/dconf/
.config/enchant/
.config/evolution/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/
.config/fish/themes/
.config/fish/fish_plugins
.config/fish/fish_variables
.config/goa-1.0/
.config/google-chrome/
.config/gtk-3.0/
.config/ibus/
.config/libreoffice/
.config/menus/
.config/mozilla/
.config/nemo/
.config/neofetch/
.config/procps/
.config/pulse/
.config/xed/
.config/xviewer/
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
.config/X-Cinnamon-xdg-terminals.list
.config/xdg-terminals.list
.copilot/
.dotnet/
/.emacs.d/autosave/
/.emacs.d/eln-cache/
/.emacs.d/elpaca/
/.emacs.d/transient/
/.emacs.d/.github/
/.emacs.d/early-init.el
/.emacs.d/history
/.emacs.d/init.el
/.emacs.d/README.md
/.emacs.d/.gitignore
/.emacs.d/.LICENSE
!/.emacs.d/pre-init.el
!/.emacs.d/post-init.el
.icons/
.linuxmint/
.local/
.npm/
.nvm/
.ssh/
.themes/
.vscode/
.vscode-shared/
a.out
package.json
package-lock.json
.bash_history
.bash_logout
.bashrc
.dmrc
.gtkrc-xcfe
.lesshst
.node_repl_history
.profile
.python_history
.sudo_as_admin_successful
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
