.web-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-image: url("../images/entrance.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Interactive element */

.interactive {
    position: relative;
}

.interactive:hover {
    border: 7px solid;
    border-color: antiquewhite;
}

.mobile-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-image: url("../images/entrance.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}