body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    background-image: url('../images/livingroom.png');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}