body {
    margin: 0px;
}

h1 {
    color: rgb(0, 0, 255);
    background-color: burlywood;
    text-align: right;
}

h2 {
    color: rgb(255, 0, 0);
    background-color: aquamarine;
    text-align: center;
}

p {
    color: rgb(0, 128, 0);
    background-color: beige;
    text-align: left;
}

/* Estilos para clase = pink-style */
.pink-style {
    color: pink;
}

/* Estilos para id = first-paragraph */
#first-paragraph {
    color: brown;
}

body {
    margin: 0px;
}

.imgback {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image:url("https://cdn.britannica.com/92/212692-050-D53981F5/labradoodle-dog-stick-running-grass.jpg");
}

.background-image {
    width: 100vw;
    height: 100vh;
}