/*h1 {
    background-color: rgb(0, 0, 0);
    color: red;
    text-align: center
};*/

#large_container {
  background-image: url("../images/library.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1200px;
}
